<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Click on any (+) sign</h2>
  <ul>
    <li>
      <span>Bikes :</span>&nbsp;
      <ng-template #targetBike></ng-template>&nbsp;
      <button (click)="loadDropdownComponent('bikes')">&#43;</button>
    </li>
    <li>
      <span>Cars :</span>&nbsp;
      <ng-template #targetCar></ng-template>&nbsp;
      <button (click)="loadDropdownComponent('cars')">&#43;</button>
    </li>
    <li>
      <span>Trucks :</span>&nbsp;
      <ng-template #targetTruck></ng-template>&nbsp;
      <button (click)="loadDropdownComponent('trucks')">&#43;</button>
    </li>
  </ul>
</div>

